**/.vscode
test/bin
*.o
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
*~
lib
test/test_jled
test/test_esp32_analog_writer
test/test_esp8266_analog_writer
test/test_jled_sequence
*.gcov
*.gcno
*.gcda
test/coverage.info
test/report
**/tags
.vscode
