---
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
name: run tests
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: install python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: linter
        run: |
          pip install cpplint==2.0.0
          make lint
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: install python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Cache PlatformIO
        uses: actions/cache@v4
        with:
          path: |
            ~/.platformio
            ~/.cache/pip
          key: ${{ runner.os }}-pio-${{ hashFiles('**/platformio.ini') }}
          restore-keys: |
            ${{ runner.os }}-pio-
      - name: install tools
        run: |
          # zombie-imp and setuptools needed for compatibility for
          # some SDKs relying on older python versions (e.g. STM32)
          pip install platformio==6.1.18 zombie-imp==0.0.4 setuptools intelhex==2.3.0
          sudo apt-get update && sudo apt-get install -y lcov
      - name: run tests
        run: |
          cd test
          make clean test OPT=-O2
          make clean coverage OPT=-O0
      - name: Upload coverage to coveralls
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ secrets.github_token }}
          file: test/coverage.lcov
      - name: build examples
        run: make ci
